@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root{
    --color-1:#BCBCBCBC;
    --color-2:#2A324B;
    --color-3:#FFC857;
    --color-4:#ED254E;
    --color-5:rgb(123, 247, 144);
}

body{
    background-color: var(--color-1);
    font-family: 'Inter', sans-serif;
}
/* navbar */

ul li {
    display: flex;
    margin-left: 50px;
 }
 .nav-link {
     text-decoration: none;
     color: white !important;
 }
#boton {
    border-radius: 10px;
}
.nav-link:hover {
    transform: translateY(2px);
}
/* Personalizados */
.bg-c2{
    background-color: var(--color-2);
}
.bg-c2-light{
    background-color:#2a324b4a;
}
.c2{
    color: var(--color-2);
}
.subtitle{
    font-weight: lighter;
    color: var(--color-2);
}
.custom-link{
    font-weight: lighter;
    color: var(--color-4);  
    text-decoration: none;
}
.cuatrocientos{
    font-family: 'Press Start 2P', cursive;
}
.input-product{
    border: none;
    outline: none;
    border-radius: 1rem;
    font-weight: 600;
    color: black;
}
.input-product::placeholder{
    margin-top: 1rem;
    font-size: 0.8rem;
}

body{
    font-family: 'Inter', sans-serif;
}
/*
.btn.maquillaje{
    background-color:var(--color-3);
}

.btn.maquillaje:hover{
    background-color:#edea25 ;
}

.btn.deportes{
    background-color:var(--color-2);
}

.btn.deportes:hover{
    background-color:#256bed ;
}

.btn.alimentos{
    background-color:var(--color-4);
}

.btn.alimentos:hover{
    background-color:#790d0d ;
}
.btn.electrodomesticos{
    background-color:var(--color-5);
}

.btn.electrodomesticos:hover{
    background-color:#254e12 ;
}


.container-card {
    background-color: #e0d9d996 !important ;
    color: rgb(255, 255, 255);
    padding: 0.1rem 0.1rem 0.1rem;
    box-shadow: 1px 1px 5px rgb(97, 93, 93);
    display: flex;
    
    justify-content: center;
    align-items: center;
    margin: 1px;
    font-family: sans-serif;
    border-radius: 5px;
}

.container-col-card:hover {
    transform: rotateX(1, 1, 1, 10deg);
}

*/
.container {
    display: flex;
    flex-wrap: wrap;
    color:white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card1 img, .card-elect {
    width: 100%;
    justify-items: center;
    height: 350px;
    object-fit: cover;
    object-position: center center;
}
.card2 {
    background-color: #74747496 !important ;
    color: rgb(255, 255, 255);
    padding: 1rem 0.7rem 0.4rem;
    box-shadow: 3px 3px 10px rgb(97, 93, 93);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 250px;
    margin: 15px;
    text-align: center;
    font-family: sans-serif;
    height: inherit;
    border-radius: 15px;
    font-weight: bold;
}
.card2 .card-icon {
    font-size: 10rem;
    color: #ffffff;
}
.btn1 {
    color: white;
    border-radius: 5px;
}
.btn1:hover{
    font-size: 4rem;
    color: #ffffff;
}
.card2 img {
    width: 75%;
    height: 200px;
    justify-items: center;
}
.card1:hover, .card-elect:hover {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    transform: translateY(-3%);
  }
#copyright {
  color: white;
}
.logoEcommerce {
  width: 15rem;
  margin-top: 5%;
}
/* Game */
.bloque{
    display: flex;
}
.grid{
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-3);
}
.grid div{
    height: 20px;
    width: 20px;
}
.tetromino{
    background-color: var(--color-2);
}
.mini-grid{
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-3);
    margin-left: 2rem;
}
.mini-grid div{
    height: 20px;
    width: 20px;
}