@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root{
    --color-1:#BCBCBCBC;
    --color-2:#2A324B;
    --color-3:#FFC857;
    --color-4:#ED254E;
}

body{
    background-color: var(--color-1);
    font-family: 'Inter', sans-serif;
}
/* navbar */

/* ul li {
    display: flex;
    margin-left: 50px;
 }  */
/* .nav-link {
     text-decoration: none;
     color: white !important;
 }  */
#boton {
    border-radius: 10px;
}
.nav-link:hover {
    transform: translateY(2px);
}
/* Personalizados */
.bg-c1{background-color:#e1ddddbc };
.bg-c2{
    background-color: var(--color-2);
}
.bg-c3{
    background-color: var(--color-2);
}
.bg-c2-light{
    background-color:#2a324b4a;
}
.c2{
    color: var(--color-2);
}
.subtitle{
    font-weight: lighter;
    color: var(--color-2);
}
.custom-link{
    font-weight: lighter;
    color: var(--color-4);  
    text-decoration: none;
}
.cuatrocientos{
    font-family: 'Press Start 2P', cursive;
}
.input-product{
    border: none;
    outline: none;
    border-radius: 1rem;
    font-weight: 600;
    color: black;
}
.input-product::placeholder{
    margin-top: 1rem;
    font-size: 0.8rem;
}
/* //////////////////////////////////////////////// */
.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card1 img, .card-elect {
    width: 100%;
    justify-items: center;
    height: 350px;
    object-fit: cover;
    object-position: center center;
}
.card2 {
    background-color: #74747496 !important ;
    color: rgb(255, 255, 255);
    padding: 1rem 0.7rem 0.4rem;
    box-shadow: 3px 3px 10px rgb(97, 93, 93);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 250px;
    margin: 15px;
    text-align: center;
    font-family: sans-serif;
    height: inherit;
    border-radius: 15px;
    font-weight: bold;
}
.card2 .card-icon {
    font-size: 10rem;
    color: #ffffff;
}
.btn1 {
    color: white;
    border-radius: 5px;
}
.btn1:hover{
    font-size: 4rem;
    color: #ffffff;
}
.card2 img {
    width: 90%;
    height: 200px;
    justify-items: center;
}
.card1:hover, .card-elect:hover {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    transform: translateY(-3%);
  }
#copyright {
  color: white;
}
.text-w{
    color: white;

}
.text-w:hover{
    color:wheat;
}
/* .logoEcommerce {
  width: 15rem;
  margin-top: 5%;
} */
/* Game */
.bloque{
    display: flex;
}
.grid{
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-3);
}
.grid div{
    height: 20px;
    width: 20px;
}
.tetromino{
    background-color: var(--color-2);
}
.mini-grid{
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-3);
    margin-left: 2rem;
}
.mini-grid div{
    height: 20px;
    width: 20px;
}
/* /////////////////////////////COMENTARIOS////////////////////////// */
.comentarios {
    margin: 20px;
    color: #ffffff;
  }
  .form-comentarios textarea {
    width: 100%;
    height: 84px;
    max-width: 100%;
    min-width: 100%;
    min-height: 84px;
    max-height: 300px;
    padding: 10px;
    border: 1px solid  #2978b5;
    margin-bottom: 20px;
  }
  .form-comentarios .btn {
    background-color:  #2978b5;
    border-radius: 0px;
    color: rgb(255, 249, 249);
    margin-bottom: 20px;
  }
  .form-comentarios .btn:hover {
    box-shadow: 0px 0px 9px rgba(0,0,0,35);
  }
  .media {
    background-color: #2A324B;
    padding-top: 20px;
    width: 850px;
    
    
  }
  .media .nombre {
    color:  #aa892e;
    margin-top: 0px;
  }

  .media .comentarios {
    margin-top: 10px;
  }
  .media .botones {
    margin-bottom: 10px;
  }
  .media .botones a {
    color: #aa892e;
    font-size: 14px;
    margin-left: 20px;
    text-decoration: none;
  }
  .media .nombre span {
    font-size: 12px;
    color: #aa892e;
    margin-left: 10px;
  }
  /* termina comentarios de licuadora */
/* .card {
    /* display: flex !important; */
   /* margin-left: 10% 
} */

/* Validar forms */
.formulario_incorrecto {
	border: 3px solid #bb2929;
}
.formulario_correcto {
	border: 3px solid #30bb29;
}

